.movie-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("/clack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.movie-content {
  text-align: center;
}

.movie-card {
  height: 350px;
}
