.movie-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("/public/clack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.movie-content {
  text-align: center;
}

.movie-title {
  margin-bottom: 2rem !important;
}

.movie-link {
  text-decoration: none;
}

.movie-card {
  height: 400px;
}
